.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContainer {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  min-width: 300px;
  max-width: 600px;
}

@media (max-width: 480px) {
  .modalContainer {
    min-width: 300px;
    max-width: 390px;
  }
}


.modalHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.closeButton {
  color: var(--color-blue-700);
  font-size: 28px;
}

.modalContent {
  font-size: 14px;
  color: var(--color-blue-900);
}
