

.divisor{
  border-bottom: 1px solid var(--color-blue-700);
  margin: 15px;
}

.divisor h2{
  margin-bottom: 40px;
}
.item__list{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.price{
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0;
}