/* Fiber.module.css */
.container__box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: baseline;
}
.container__picker {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.btn__picker {
  padding: 6px 14px;
  border: 1px solid var(--color-blue-300);
  background-color: var(--color-blue-50);
  cursor: pointer;
  border-radius: 5px;
}

.btn__pickerSelect {
  padding: 6px 14px;
  border: 2px solid var(--color-blue-700);
  background-color: var(--color-blue-100);
  border-radius: 5px;
  
}

.description{
  text-align: left;
  font-weight: 300;
}
