.header {
  padding-top: 10px;
}

.header__content {
  max-width: 60%;
  background: linear-gradient(185deg, var(--color-blue-600), var(--color-blue-900));
  color: white;
  padding: 2rem;
  text-align: left;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.header__priceContainer {
  font-size: 1.5rem;
  font-weight: 500;
}

.header__price {
  font-size: 3rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .header__content {
    max-width: 95%;
    padding: 1.5rem 1rem;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
  }

  .header__priceContainer {
    font-size: 1.2rem;
  }

  .header__price {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .header__content {
    max-width: 98%;
    padding: 1rem;
    border-top-right-radius: 140px;
    border-bottom-right-radius: 140px;
  }

  .header__priceContainer {
    font-size: 1rem;
  }

  .header__price {
    font-size: 1.8rem;
  }
}
