.header {
padding-top: 10px;
}

.header__content {
  max-width: 80%;
  /* margin: 0 auto; */
  background: linear-gradient(185deg, var(--color-blue-800), var(--color-blue-500));
  color: white;
  padding: 2rem;
  text-align: left;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  font-size: 2rem;
  margin-bottom: 0;
}

.header__subtitle {
  font-size: 1rem;
}

.header__priceContainer {
  font-size: 1.5rem;
  font-weight: 500;
}

.header__price {
  font-size: 3rem;
  font-weight: 600;
}


/* Responsive */
@media (max-width: 768px) {
  .header__content {
    padding: 1.5rem 1rem;
  }

  .header__title {
    font-size: 1.8rem;
  }

  .header__subtitle {
    font-size: 0.9rem;
  }

  .header__price {
    font-size: 1.8rem;
  }
}