.container {
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
  height: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--color-blue-800)

}

.list__bullets{
  text-decoration: dotted;
}

.price {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0;
}



