.bullets {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
}

.bullets__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-blue-600);
  transition: transform 0.3s ease;
}

.bullets__item:hover {
  background-color: var(--color-blue-700);
  transform: scale(1.2);
  opacity: 1;
}
